.form-control {
    display: block;
    width: 100%;
    padding: $spacing-s;
    border: 0.5px solid $secondary-20;
    border-radius: $radius-regular;
    box-sizing: border-box;

    &::placeholder {
        font-size: $text-body-font-size;
        color: $secondary-80;
    }
}