.form-control {
    display: block;
    width: 100%;
    padding: $spacing-s;
    border: 0.5px solid $secondary-20;
    border-radius: $radius-regular;
    box-sizing: border-box;
    transition: all 0.2s ease-out;

    &::placeholder {
        font-size: $text-body-font-size;
        color: $secondary-80;
    }

    &:focus, &:active {
        border: 0.5px solid $primary;
        outline: none;
    }
}