/**
TYPOS
**/

$font-familly: 'Mulish';

.text-title {
    font-family: $font-familly;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.text-subtitle {
    font-family: $font-familly;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
}

$text-body-font-size: 14px;
.text-body {
    font-family: $font-familly;
    font-size: $text-body-font-size;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

$text-body-small-font-size: 12px;

.text-body-small {
    font-family: $font-familly;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}

.text-button {
    font-family: $font-familly;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
}

a {
    color: $primary;
    text-decoration: none;
}