@import './reset';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './resources';
@import './fonts/fonts';

html {
	font-size: 100%;
}

body {
    background: $secondary-10;
    color: $dark;
    font-family: $font-familly;
    font-size: $text-body-font-size;
}

.auth-container {
    width: 362px;
}

.text-center {
    text-align: center;
}

