/**
COLORS
**/
$primary: #3276FE;
$primary-80: #5B91FE;
$primary-60: #84ADFE;
$primary-40: #ADC8FF;
$primary-20: #D6E4FF;
$primary-10: #EBF2FF;

$secondary: #A4A4A4;
$secondary-80: #B6B6B6;
$secondary-60: #C8C8C8;
$secondary-40: #DBDBDB;
$secondary-20: #EDEDED;
$secondary-10: #F6F6F6;

$success: #4DD96D;
$success-80: #70E08A;
$success-60: #94E8A7;
$success-40: #B8F0C4;
$success-20: #DBF7E2;
$success-10: #EEFCF1;

$danger: #F35665;
$danger-80: #F67884;
$danger-60: #F89AA3;
$danger-40: #FABBC1;
$danger-20: #FDDDE0;
$danger-10: #FEEFF0;

$warning: #FFD600;
$warning-80: #FFDE33;
$warning-60: #FFE666;
$warning-40: #FFEF99;
$warning-20: #FFF7CC;
$warning-10: #FFFBE6;

$dark: #132956;
$dark-80: #425478;
$dark-60: #717F9A;
$dark-40: #A0A9BB;
$dark-20: #D0D4DD;
$dark-10: #E8EAEF;

$light: #FFFFFF;